In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../datasets/kc_house_data.csv')

### Criando novas variáveis "coluna"

In [3]:
#     nome da coluna        dado
data['nome_da_martina'] = "martina"
print(data.columns)
print(data[['id', 'date', 'nome_da_martina']].head())

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'nome_da_martina'],
      dtype='object')
           id             date nome_da_martina
0  7129300520  20141013T000000         martina
1  6414100192  20141209T000000         martina
2  5631500400  20150225T000000         martina
3  2487200875  20141209T000000         martina
4  1954400510  20150218T000000         martina

### Deletar variáveis

In [6]:
print(data.columns)
data.drop(['nome_da_martina'], axis=1).columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'nome_da_martina'],
      dtype='object')

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

### Seleção de dados

In [7]:
#Direto pelo nome das colunas, quando é lista precisa ser em duplo colchetes
print(data[['price', 'id']])

          price          id
0      221900.0  7129300520
1      538000.0  6414100192
2      180000.0  5631500400
3      604000.0  2487200875
4      510000.0  1954400510
...         ...         ...
21608  360000.0   263000018
21609  400000.0  6600060120
21610  402101.0  1523300141
21611  400000.0   291310100
21612  325000.0  1523300157

[21613 rows x 2 columns]

In [8]:
#Pelos índices das colunas
#índice incremental (0,1,2,3,4...)
#DADOS [linhas, colunas]
#        0:10,  0:3

print(data.iloc[0:2, 0:3])

           id             date     price
0  7129300520  20141013T000000  221900.0
1  6414100192  20141209T000000  538000.0

In [9]:
#Pelos índices das linhas e nome das colunas
print(data.loc[0:10, 'price'])

0      221900.0
1      538000.0
2      180000.0
3      604000.0
4      510000.0
5     1225000.0
6      257500.0
7      291850.0
8      229500.0
9      323000.0
10     662500.0
Name: price, dtype: float64

In [11]:
#Pelos índices booleanos (True e False | 1 e 0)

#precisa ser na mesma quantidade de colunas
cols = [True, False, True, True, False, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False]

print(data.loc[0:10, cols])

            id      price  bedrooms  floors
0   7129300520   221900.0         3     1.0
1   6414100192   538000.0         3     2.0
2   5631500400   180000.0         2     1.0
3   2487200875   604000.0         4     1.0
4   1954400510   510000.0         3     1.0
5   7237550310  1225000.0         4     1.0
6   1321400060   257500.0         3     2.0
7   2008000270   291850.0         3     1.0
8   2414600126   229500.0         3     1.0
9   3793500160   323000.0         3     2.0
10  1736800520   662500.0         3     1.0