In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('../datasets/kc_house_data.csv')

#### Agrupamento
Sequência de 3 tarefas: Split, Apply, Combine(Separa, Aplica e Combina)

In [5]:
#Quantos imóveis existem por números de quartos
print(data[data['bedrooms'] == 0].shape)
print(data[data['bedrooms'] == 1].shape)
print(data[data['bedrooms'] == 2].shape)
print(data[data['bedrooms'] == 3].shape)
print(data[data['bedrooms'] == 4].shape)

df_gruoped = data[['id', 'bedrooms']].groupby('bedrooms')

for bedrooms, frame in df_gruoped:
    print ('Número de quartos: {}'.format(bedrooms))
    print(frame.shape, end='\n\n')

(13, 21)
(199, 21)
(2760, 21)
(9824, 21)
(6882, 21)
Número de quartos: 0
(13, 2)

Número de quartos: 1
(199, 2)

Número de quartos: 2
(2760, 2)

Número de quartos: 3
(9824, 2)

Número de quartos: 4
(6882, 2)

Número de quartos: 5
(1601, 2)

Número de quartos: 6
(272, 2)

Número de quartos: 7
(38, 2)

Número de quartos: 8
(13, 2)

Número de quartos: 9
(6, 2)

Número de quartos: 10
(3, 2)

Número de quartos: 11
(1, 2)

Número de quartos: 33
(1, 2)

### Operações Matemáticas
Com os dados agrupados, podemos realizar operações matemáticas <br>
Contagem, mínimos, máximos, somar, média, mediana, desvio-padrão <br>