In [2]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('../datasets/kc_house_data.csv')

### Quantas casas estão disponíveis para compra?
Selecionar a coluna 'id' <br>
Contar o número de valores únicos

In [26]:
# Pegando valores únicos
houses = (len(data['id'].unique()))
'O número de casas disponíveis é de {}'.format(houses)

'O número de casas disponíveis é de 21436'

In [27]:
# Tirando valores duplicados
houses = (len(data['id'].drop_duplicates()))
'O número de casas disponíveis é de {}'.format(houses)

'O número de casas disponíveis é de 21436'

### Quantos atributos as casas possuem?

In [25]:
qtd_atributos = (len (data.drop(['id', 'date'], axis=1).columns))
'A quantidade de atributos das casas são de {}'.format(qtd_atributos)

'A quantidade de atributos das casas são de 19'

### Quais são os atributos das casas?

In [24]:
atributos = data.drop(['id', 'date'], axis=1).columns
'Os atributos das casas são {}'.format(atributos)

"Os atributos das casas são Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',\n       'waterfront', 'view', 'condition', 'grade', 'sqft_above',\n       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',\n       'sqft_living15', 'sqft_lot15'],\n      dtype='object')"

### Qual a casa mais cara ( casa com o maior valor de venda )?

In [40]:
mais_cara = data[['id','price']].sort_values('price', ascending=False).reset_index(drop=True).loc[0, 'id']
"A casa mais cara tem o valor de {}".format(mais_cara)

'A casa mais cara tem o valor de 6762700020'

### Qual a casa com o maior número de quartos?

In [38]:
index_quarto = data[['id','bedrooms']].sort_values('bedrooms', ascending=False).reset_index(drop=True).loc[0, 'id']
qtd_quarto = data[['id','bedrooms']].sort_values('bedrooms', ascending=False).reset_index(drop=True).loc[0, 'bedrooms']
"A casa com mais quartos é a {} com {} quartos".format(index_quarto, qtd_quarto)

'A casa com mais quartos é a 2402100895 com 33 quartos'

### Qual a soma total de quartos do conjunto de dados?

In [34]:
# Pandas
soma_quarto_pd = data['bedrooms'].sum()
'A soma de quartos do dataset é {}'.format(soma_quarto_pd)

'A soma de quartos do dataset é 72854'

In [35]:
# Numpy
soma_quarto_np = np.sum(data['bedrooms'])
'A soma de quartos do dataset é {}'.format(soma_quarto_np)

'A soma de quartos do dataset é 72854'

### Quantas casas possuem 2 banheiros?
Filtrar quantas tem 2 somente dois bathroom <br>
Selecionar as colunas ID e Bathroom <br>
Contar o número de casa da coluna ID <br>

In [36]:
casa_banheiros = len(data.loc[data['bathrooms'] == 2, ['id']])
print('O número de casas que possuem dois banheiros é de {}'.format(casa_banheiros))

O número de casas que possuem dois banheiros é de 1930

### Qual o preço médio de todas as casas no conjunto de dados?

In [37]:
media_preco = np.round(data['price'].mean(), 2)
print('O valor médio das casas é de {}'.format(media_preco))

O valor médio das casas é de 540088.14

### Qual o preço médio de casas com 2 banheiros?

In [41]:
media_valor_casas_dois_banheiros = np.round(data.loc[data['bathrooms'] == 2, 'price'].mean(), 2)
print('O valor médio das casas com dois banheiros é de {}'.format(media_valor_casas_dois_banheiros))

O valor médio das casas com dois banheiros é de 457889.72

### Qual o preço mínimo entre as casas com 3 quartos?

In [42]:
minimo_valor_casas_tres_banheiros = data.loc[data['bedrooms'] == 3, 'price'].min()
print('O menor valor de casa com três banheiros é de {}'.format(minimo_valor_casas_tres_banheiros))

O menor valor de casa com três banheiros é de 82000.0

### Quantas casas possuem mais de 300 metros quadrados na salade estar?
Converter pés em metro quadrado

In [43]:
data['m2'] = data['sqft_living'] * 0.093
casas_salas_300 = len(data.loc[data['m2'] > 300, ['id']])
print('A quantidade de casas com sala de estar com mais de 300 metros quadrados é de {}'.format(casas_salas_300))

A quantidade de casas com sala de estar com mais de 300 metros quadrados é de 2258

### Quantas casas tem mais de 2 andares?

In [44]:
casas_mais_2_andares = len(data.loc[data['floors'] > 2, ['id']])
print('A quantidade de casas com mais de dois andares é de {}'.format(casas_mais_2_andares))

A quantidade de casas com mais de dois andares é de 782

### Quantas casas tem vista para o mar?

In [45]:
casas_vista_mar = len(data.loc[data['waterfront'] > 0, ['id']])
print('A quantidade de casas com vista para o mar é de {}'.format(casas_vista_mar))

A quantidade de casas com vista para o mar é de 163

### Das casas com vista para o mar, quantas tem 3 quartos?

In [46]:
casa_mar_3_banheiros = len(data.loc[(data['waterfront'] == 1) & (data['bedrooms'] == 3),['id']])
print('A quantidade de casas com vista para o mar e 3 banheiros é de {}'.format(casa_mar_3_banheiros))

A quantidade de casas com vista para o mar e 3 banheiros é de 64

### Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

In [47]:
data['m2'] = data['sqft_living'] * 0.093
casa_sala300m_mais_2_banheiros = len(data.loc[(data['m2'] > 300) & (data['bathrooms'] > 2),['id']])
print('A quantidades de casa com sala de estar de mais de 300 metros quadrados e com mais de 2 banheiros é de {}'.format(casa_sala300m_mais_2_banheiros))

A quantidades de casa com sala de estar de mais de 300 metros quadrados e com mais de 2 banheiros é de 2201